# gui interfaces

jupyter
marimo
streamlit
plotly
matplotlib
tqdm
pygame

# cli/tui interface

typer
rich

# big data

pandas
numba
pyarrow
dask
bloomkv
ray

# machine learning

statsmodels
scikit-learn
mlxtend
skorch
transformers
torch # hint: this shall be installed by checking nvidia-smi for proper cuda version
huggingface-hub

# image processing

opencv-python
pillow
ultralytics

# automation

asyncvnc
asyncssh
playwright
pynput

# domains

## mahjong

riichienv
mahjong
jansou

## esp32

micropython-esp32-stubs
esptool
mpremote

## chinese/NLP

regex
pywubi
pypinyin
nltk
spacy
tree-sitter-language-pack
langchain
litellm

## math

sympy
transfinite
pysmt
mathesis
networkx

# Linux-specific: these has been proven not work on windows with uv without MSVC toolchain.

cuDF # Exception: Please install cudf via the rapidsai conda channel. See https://rapids.ai/start.html for instructions.

PyMahjongGB

# building 'MahjongGB' extension
#
#      [stderr]
#      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools":
#      https://visualstudio.microsoft.com/visual-cpp-build-tools/
#
