# gui interfaces

jupyter
marimo
streamlit
plotly
matplotlib
tqdm
pygame
segno

# cli/tui interface

typer
rich

# networking

python-nmap
dnspython
zeroconf
scapy
pyshark
requests
py-netrecon
icmplib
ping3
nmcli
flent
iperf3
pyp0f
graphql-core
fastapi
uvicorn
openai

# big data

pandas
numba
pyarrow
dask
bloomkv
ray
warcio
cryptography
fa-htmlstream
datalad
git-annex

# machine learning

statsmodels
scikit-learn
mlxtend
skorch
transformers
# commented since required and contradict to ultratics torch; python_version >= "3.14" # hint: this shall be installed by checking nvidia-smi for proper cuda version, or else the cpu version is installed. 
huggingface-hub

# image processing

opencv-python
pillow
ultralytics

# automation

asyncvnc
asyncssh
playwright
pynput
git+https://github.com/fufurobot/deepseek-tools

# domains

## mahjong

riichienv
mahjong
jansou

## esp32

micropython-esp32-stubs
esptool
mpremote

## chinese/NLP

regex
pywubi
pypinyin
nltk
spacy
tree-sitter-language-pack
langchain
litellm
beautifulsoup4
MIDIUtil
lxml
openpyxl
html5lib
python-docx
pdfplumber
pdfminer.six

## sequence data



## math

sympy
transfinite
pysmt
mathesis
# knuckledragger all of: knuckledragger<=0.1.4a1 knuckledragger>=0.3.0 only support >=3.12)
# tinylean tinylean only support >=3.12
networkx

# Linux-specific: these has been proven not work on windows with uv without MSVC toolchain.

## cuDF: 

# Exception: Please install cudf via the rapidsai conda channel. See https://rapids.ai/start.html for instructions.

## PyMahjongGB: 

### MahjongGB:

# building 'MahjongGB' extension
#
#      [stderr]
#      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools":
#      https://visualstudio.microsoft.com/visual-cpp-build-tools/
#

## jupyterhub:

# requires PAMAuthenticator. jupyterhub official plan to not support.

# Windows-specific: these has been proven not work on linux with uv.

## xlwings:

# plan to not support because it operates on Microsoft Excel.
